/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
#logo-container {
  margin-top: 10px;
}

p {
  line-height: 2rem;
}
h5 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
#leftcont {
  float: left;
}
#rightcont {
  float: right;
  margin-right: 150px;
}
#footerheader {
  font-size: 30px;
}
.btn {
  background-color: black;
}
.portimg {
  height: 100px;
  width: 250px;
}
h4 {
  text-align: center;
}
h3 {
  color: black;
  text-align: center;
  margin-bottom: 10px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
